<h2>Edit Profile</h2>
<div class='container'>
<%= form_for @user do |f| %>
  <%= render 'shared/registration_fields', f: f, cohorts: @cohorts %>
  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-default btn-xs' %>
  </div>
<% end %>
</div>
