<div class="container">
  <h2><%= @header %></h2>

  <%= render 'cohort_dropdown', cohorts: @cohorts %>

  <label for="search_by_name">Search by Name:</label>
  <input id="search-by-name" name="search_by_name" type="text" />

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Slack</th>
        <th>Cohort</th>
      </tr>
    </thead>
      <% @users.each do |user| %>
        <%= render 'user_row', user: user %>
      <% end %>
  </table>
</div>
