<div class="container">
  <h2>Users</h2>

  <div class="cohort-filter">
    <%= render 'cohort_dropdown', cohorts: @cohorts %>
  </div>

  <div class="search-by-name">
    <label for="search_by_name">Search by Name: </label>
    <input id="search-by-name" name="search_by_name" type="text" />
  </div>

  <table class="table" data-toggle="table">
    <thead class="thead-inverse">
      <tr>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Slack</th>
        <th data-sortable="true">Cohort</th>
      </tr> 
    </thead>
      <% @users.each do |user| %>
        <%= render 'user_row', user: user %>
      <% end %>
  </table>
</div>
