<h2>Account Profile</h2>
<table>
  <tr>
    <th>First name</th>
    <td><%= current_user.first_name%></td>
  </tr>
  <tr>
    <th>Last name</th>
    <td><%= current_user.last_name%></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= current_user.email%></td>
  </tr>
</table>
<%= link_to "Edit profile" %>
