<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to create a Census Account</h1>
    <p>Census is the Turing School of Software Design's identity management application.</p>
    <p>To register, just follow this link: <%= @url %>.</p>
    <p>Thanks for joining!</p>
  </body>
</html>
