<table class="table table-hover group-table">
  <tr>
    <th>Name</th>
    <th># of Members</th>
    <th></th>
  </tr>
  <% groups.each do |group| %>
    <tr id="group-<%= group.id %>" class="group <%= group.name %>">
      <td><p class="group-name"><%= group.name %></p></td>
      <td><%= group.member_count %></td>
      <td><p class='btn btn-default group-delete-button'>Delete</p></td>
    </tr>
  <% end %>
</table>
