<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th># of Members</th>
  </tr>
  <% roles.each do |role| %>
    <tr class="role <%= role.name %>">
      <td><%= role.name %></td>
      <td><%= role.member_count %></td>
    </tr>
  <% end %>
</table>
