<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th># of Students</th>
  </tr>
  <% roles.each do |role| %>
    <tr class="role">
      <td><%= role.name %></td>
      <td>TBD student count</td>
    </tr>
  <% end %>
</table>
