<table class="table table-hover role-table" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true">Name</th>
      <th data-sortable="true"># of Members</th>
      <th></th>
    </tr>
  </thead>
  <% roles.each do |role| %>
    <tr id="role-<%= role.id %>" class="role <%= role.name %>">
      <td><p class="role-name"><%= role.name %></p></td>
      <td><%= role.member_count %></td>
      <td><p class='btn btn-default btn-xs role-delete-button'>Delete</p></td>
    </tr>
  <% end %>
</table>
