<h1>Edit Cohort</h1>
<%= form_for @cohort, url: admin_cohort_path(@cohort) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.submit "Update Cohort", class: 'btn btn-default btn-xs' %>
<% end %>
