<div class="container">
  <h1>All Cohorts</h1>
  <div class="container" id="active-cohorts">
    <%= render 'shared/cohorts_table', cohorts: @cohorts %>
  </div>
  <div class="container">
    <%= link_to "+ Add Cohort", new_admin_cohort_path, class: "btn btn-info btn-xs" %>
  </div>
  <div class="container">
    <%= link_to "<< Back to Dashboard", admin_dashboard_path %>
  </div>
</div>
