/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-table
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';
 @import "bootstrap-table";

input.input-field-error {
  background: #ff9999;
}

.hidden {
  visibility: hidden;
}

.pretty-select {
  width: 100px;
  border: .5px solid grey;
  box-shadow: none;
  margin: 10px;
}

.cohort-filter {
  margin: 10px;
}

.search-by-name {
  margin: 10px;
}

#search-by-name {
  margin: 10px;
  border-radius: 3px;
  width: 60%;
}

.emails-input {
  width: 100%;
  margin-bottom: 10px;
}

.acct-info {
  width: 50%;
}

.alert {
  width: 88%;
  margin-left: 7%;
  margin-right: 5%;
}

.blue-link:hover {
  color: #00bbd2 !important;
}

.btn-container {
  padding-top: 2%;
}

#searchBox {
  height: 2.5em;
}

.search-group {
  margin-bottom: 2em;
}

#add-delete-role {
  margin-top: 2em;
  margin-bottom: 2em;
}

#save-button {
  margin-top: 2em;
}

.profile-pic {
  margin-top: -20px;
  margin-bottom: 20px;
}
