/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';

input.input-field-error {
  background: #ff9999;
}

.hidden {
  visibility: hidden;
}

.pretty-select {
  width: 100px;
  border: .5px solid grey;
  box-shadow: none;
  margin: 10px;
}

.cohort-filter {
  margin: 10px;
}

.search-by-name {
  margin: 10px;
}

#search-by-name {
  margin: 10px;
  border-radius: 3px;
  width: 20%;
}
